//colores
$color-stone: #ccd5ae   
$color-mist: #e9edc9    
$color-ivory: #fefae0   
$color-sand: #faedcd    
$color-clay: #d4a373   
$color-grey: #333333

//fuentes
$f-f-uno: "Raleway", sans-serif
$f-f-dos: "Nunito", sans-serif

// font-size
$f-s-1: 0.8rem
$f-s-2: 1.6rem
$f-s-3: 2.2rem
$f-s-4: 2.8rem

//sombras
$bg-transparent-dark: rgba(0, 0, 0, 0.5)
$bg-transparent-light: rgba(70, 70, 70, 0.7)
$shadow: 0 1px 2px 0 rgba(0,0,0,.12)

//breakpoints
$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px

//margenes 
$m1: 0 auto
$m2: 8px    
$m3: 16px

// paddings
$p1: 8px
$p2: 16px

// border-radius
$br1: 4px
$br2: 8px