@use "../../../styles/vars" as *

.detalle-modal  
  .modal-content
    border-radius: $br2
    box-shadow: $shadow

  .detalle-modal-header
    background-color: $color-sand
    color: $color-clay
    padding: $p2

    .detalle-modal-title
      color: $color-grey
      font-family: $f-f-uno
      font-size: $f-s-3
      font-weight: bold

    .btn-close 
      filter: invert(1) grayscale(1) brightness(2)
      opacity: 0.8
      &:hover
        opacity: 1

  .detalle-modal-body
    color: $color-grey
    padding: $p2 * 1.5

    .detalle-modal-image
      border-radius: $br2 
      max-height: 350px 
      width: 100% 
      object-fit: cover 

    .detalle-modal-section-title
      font-family: $f-f-uno
      font-size: $f-s-2
      color: $color-grey
      margin-top: $m3
      margin-bottom: $m2
      font-weight: 600

    .detalle-modal-description,
    .detalle-modal-time,
    .detalle-modal-preparacion
      font-family: $f-f-dos
      font-size: $f-s-1
      line-height: 1.6
      color: $color-grey
      margin-bottom: $m2 

    .detalle-modal-price
      font-family: $f-f-uno
      font-size: $f-s-3
      font-weight: bold
      color: $color-grey
      margin-bottom: $m3


  .detalle-modal-footer
    background-color: $color-sand
    padding: $p2
    border: none

    .detalle-modal-add-button
      background-color: $color-stone
      border: none
      color: $color-clay
      padding: $p1 $p2
      border-radius: $br2

      &:hover
        background-color: $color-clay
        border-color: $color-grey
        color: $color-grey

    .detalle-modal-close-button
      background-color: $color-stone
      border-color: $color-grey
      border: none
      color: $color-clay
      padding: $p1 $p2
      border-radius: $br2

      &:hover
        background-color: $color-clay
        border-color: $color-grey
        color: $color-grey

@media (max-width: $breakpoint-md)
  .detalle-modal
    .modal-body
      .detalle-modal-image
        margin-bottom: $m3

@media (max-width: $breakpoint-sm)
  .detalle-modal
    .detalle-modal-header
      .detalle-modal-title
        font-size: $f-s-2
    .detalle-modal-body
      padding: $p2
    .detalle-modal-section-title
      font-size: 1.1rem
    .detalle-modal-description,
    .detalle-modal-time,
    .detalle-modal-preparacion
      font-size: 0.9rem
    .detalle-modal-price
      font-size: $f-s-2