.client-ranking-tab

  // CAMBIO: Estilos para el card de filtros con fondo oscuro
  .table-header-custom th
    background-color: #212529 !important  // Fondo oscuro
    color: white !important
        
  // Estilo para el encabezado de la tabla
  .table-header-custom th
    background-color: #343a40 !important
    color: white !important