@use "../../../styles/vars" as *

.product-card
  border: 1px solid $color-clay
  border-radius: $br1
  overflow: hidden
  cursor: pointer
  box-shadow: $shadow

  &:hover
    box-shadow: $shadow

  .product-card-img
    height: 180px
    object-fit: cover
    width: 100%

  .product-card-body
    padding: $p2
    display: flex
    flex-direction: column
    justify-content: space-between

    .product-card-title
      font-size: $f-s-2
      font-weight: 600
      color: $color-grey
      margin-bottom: $m2
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      font-family: $f-f-uno

    .product-card-description
      font-size: $f-s-1
      color: $color-grey
      line-height: 1.4
      margin-bottom: $m3
      display: -webkit-box
      -webkit-line-clamp: 3
      -webkit-box-orient: vertical
      overflow: hidden
      text-overflow: ellipsis
      flex-grow: 1
      font-family: $f-f-dos

    .product-card-bottom-section
      display: flex
      flex-direction: column 
      align-items: center 
      margin-top: auto
      padding-top: $p1

      .product-card-price-display 
        font-size: $f-s-4 
        font-weight: bold
        color: $color-grey
        margin-bottom: $m2 
        text-align: center 
        width: 100% 

      .product-card-buttons-group 
        display: flex
        flex-direction: column
        width: 100% 
        gap: $m2

        .product-card-add-button
          background-color: $color-grey
          border-color: $color-clay
          padding: $p1 $p2
          font-size: $f-s-1
          font-weight: 500
          border-radius: $br1
          width: 100% 

          &:hover
            background-color: $color-ivory
            border-color: $color-clay

          &:active
            background-color: $color-clay
            border-color: $color-clay

        .product-card-controls-wrapper 
          display: flex
          align-items: center
          justify-content: center 
          gap: 5px
          width: 100% 

          .product-card-control-button
            padding: 0.4rem 0.6rem
            font-size: $f-s-1
            line-height: 1
            border-radius: $br1
            min-width: 35px
            height: 35px
            display: flex
            align-items: center
            justify-content: center

            &.product-card-remove-all
              color: $color-stone
              border-color: $color-stone
              &:hover
                background-color: $color-stone
                color: $color-ivory

            &.product-card-minus-button
              color: $color-grey
              border-color: $color-grey
              &:hover
                background-color: $color-grey
                color: $color-ivory

            &.product-card-plus-button
              color: $color-grey
              border-color: $color-grey
              &:hover
                background-color: $color-grey
                color: $color-ivory

          .product-card-quantity-display
            font-size: 1.1rem
            font-weight: bold
            color: $color-grey
            min-width: 25px
            text-align: center

        .product-card-details-button
          width: 100% 
          background-color: $color-stone
          border: none
          color: $color-clay
          font-size: $f-s-1
          border-radius: $br1
          padding: 0.6rem 1rem
          display: flex
          align-items: center
          justify-content: center

          &:hover
            background-color: $color-ivory
            border-color: $color-clay

          &:active
            background-color: $color-clay
            border-color: $color-clay

        .product-card.product-unavailable
          opacity: 0.7

          &:hover
            background-color: $color-stone
            border-color: $color-stone

          &:active
            background-color: $color-stone
            border-color: $color-stone

@media (max-width: $breakpoint-sm)
  .product-card
    .product-card-body
      .product-card-title
        font-size: 1.2rem
      .product-card-description
        font-size: 0.85rem
      .product-card-bottom-section
        .product-card-price-display
          font-size: $f-s-3 
        .product-card-add-button, .product-card-details-button
          font-size: 0.85rem
          padding: 0.5rem 0.8rem
        .product-card-controls-wrapper
          flex-wrap: wrap
          gap: 3px
          .product-card-control-button
            font-size: 0.75rem
            min-width: 30px
            height: 30px


  